<!DOCTYPE html>
<html>

<head>
    <title>Uusi havainto</title>
</head>

<body>
    <h1>Uusi havainto</h1>
    <form action="/create_sighting" method="post">
    <p>
        Lintulaji: <br />
        <small>Esim. Sinisorsa, Valkoposkihanhi, Talitiainen</small> <br/>
        <input type="text" name="bird_species" maxlength="50" required/>
    </p>
    <p>
        Lintuluokka: <br />
        <select name="section">
            <option value="Haikaralinnut">haikaralinnut</option>
            <option value="Hietakanalinnut">hietakanalinnut</option>
            <option value="Kanalinnut">kanalinnut</option>
            <option value="Kirskulinnut">kirskulinnut</option>
            <option value="Kuikkalinnut">kuikkalinnut</option>
            <option value="Kurkilinnut">kurkilinnut</option>
            <option value="Kyyhkylinnut">kyyhkylinnut</option>
            <option value="Käkilinnut">käkilinnut</option>
            <option value="Pelikaanilinnut">pelikaanilinnut</option>
            <option value="Päiväpetolinnut">päiväpetolinnut</option>
            <option value="Pöllölinnut">pöllölinnut</option>
            <option value="Rantalinnut">rantalinnut</option>
            <option value="Sorsalinnut">sorsalinnut</option>
            <option value="Säihkylinnut">säihkylinnut</option>
            <option value="Uikkulinnut">uikkulinnut</option>
            <option value="Ulappalinnut">ulappalinnut</option>
            <option value="Tikkalinnut">tikkalinnut</option>
            <option value="Varpuslinnut">varpuslinnut</option>
        </select>
    </p>
    <p>
        Kaupunki: <br/>
        <small>Esim. Helsinki, Vantaa, Tampere</small> <br/>
        <input type="text" name="municipality" maxlength="50" required/>
    </p>
    <p>
        Lähiö: <br />
        <small>Esim. Kannelmäki, Latokartano, Hietalahti</small> <br/>
        <input type="text" name="location" maxlength="50" required/>
    </p>
    <p>
        Lisätiedot: <br />
        <small>Esim. Missä tarkalleen havaittu, tarkempi osoite, olosuhteet</small> <br/>
        <textarea name="additional_info" rows="8" cols="40" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Lisää havainto" />
  </form>
    <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>