<!DOCTYPE html>
<html>

<head>
    <title>Etsi havainto</title>
</head>

<body>
    <h1>Etsi havainto</h1>
    
    <form action="/find_sighting" method="get">
        <p>
            <small>HUOM. Haku toimii lintulajeilla, lähiöillä tai kaupungeilla</small> <br/>
            Hakusana: <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Lähetä">
    </form>
    <p>
        <a href="/">Takaisin</a>
    </p>
    {% if query %}
    <h2>Tulokset</h2>
    <ul>
        {% for sight in results %}
        <li>
            <a href="/sight/{{ sight.id }}">{{ sight.bird_species }} - {{ sight.time_added }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html> 