<!DOCTYPE html>
<html>

<head>
  <title>Lintuhavainto</title>
</head>

<body>
  <h1>Lintuhavainto</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut sisään nimellä: <strong>{{ session.username }}</strong>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
  {% if session.username %}
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>
  <p>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}

  <h3>Toiminnot</h3>
  {% if session.username %}
  <p>
    <a href="/new_sighting">Uusi havainto</a>
  </p>
  {% endif %}
  <p>
    <a href="/find_sighting">Etsi havainto</a>
  </p>

  <h2>Viimeisimmät havainnot</h2>
  <ul>
    {% for sight in sighting %}
    <li><a href="/sight/{{ sight.id }}">{{ sight.bird_species }} - {{ sight.time_added }} </a> </li>
    {% endfor %}
  </ul>
</body>

</html> 