<!DOCTYPE html>
<html>

<head>
    <title>Havainnon poisto</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>Havainnon poisto</h1>
    </div>

    <div class="subheader">
        <p>Havainto: {{ sight.bird_species }} - {{ sight.time_added }}</p>
    </div>

    <div class="sign">
        <p>Haluatko poistaa tämän havainnon?</p>
        <form action="/remove_sighting/{{ sight.id }}" method="post">
            <input type="submit" name="remove" value="Poista havainto">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </form>
    </br>
    <a href="/sight/{{sight.id}}">Takaisin</a>
    </div>
</body>

</html>