<!DOCTYPE html>
<html>

<head>
    <title>{{ sight.bird_species }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>{{ sight.bird_species }}</h1>
        <h2>{{ sight.time_added }}</h2>

    </div>
    {% for message in get_flashed_messages() %}
    <div class="info">
    <strong>{{ message }}</strong>
    {% endfor %}    
    </div>

    {% if session.user_id == sight.user_id %}
    <div class="subheader">
        <p>
            <a href="/edit_sighting/{{ sight.id }}">Muokkaa havaintoa</a> |
            <a href="/remove_sighting/{{ sight.id }}">Poista havainto</a>
        </p>   
        {% endif %}
    </div>

    <div class="subheader2">
        <p>
            {% for class in classes %}
            <strong> {{class.title}} </strong> </br>
            {{ class.value }}
            {% endfor %}
        </p>
        <p>
            <strong>Lähiö - Kaupunki</strong> </br>
            {{ sight.location }} - {{ sight.municipality }}
        </p>
        <p>
            <strong>Lisätiedot</strong> </br>
            {{ sight.additional_info }}
        </p>
        <p>
            <strong>Havainnoitsija</strong> </br>
            <a href="/user/{{ sight.user_id }}"> {{ sight.username }}</a>
        </p>
    </div>

    <div class="sign">  
        <h2>Keskustelu</h2>
        
        {% if messages %}
        <div class="message_bubble">
            {% for message in messages %}
            <small>{{ message.time_sent }}</small>
            <a href="/user/{{ message.user_id }}">{{ message.username }}</a>: {{ message.message }} </br>
            {% endfor %}
        </div>
        {% else %}
        <p>Ei viestejä.</p>
        {% endif %}

        <form action="/new_message" method="post">
            <p>
                <strong>Viesti</strong> </br>
                <textarea name="message" rows="8" cols="40" maxlength="1000" required></textarea> </br>
            </p>
            <input type="hidden" name="sight_id" value="{{ sight.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä" />
        </form>
    </div>

    <div class="subheader2">
        <p>
            <a href="/">Takaisin</a>
        </p>
    </div>
</body>

</html>