<!DOCTYPE html>
<html>

<head>
    <title>{{ sight.bird_species }}</title>
</head>

<body>
    <h1>{{ sight.bird_species }}</h1>
    <h2>{{ sight.time_added }}</h2>
    {% if session.user_id == sight.user_id %}
    <p>
        <a href="/edit_sighting/{{ sight.id }}">Muokkaa havaintoa</a>
        <a href="/remove_sighting/{{ sight.id }}">Poista havainto</a>
    </p>   
    {% endif %}
    <p>
        <strong>Lintuluokka</strong> </br>
        {% for class in classes %}
        {{ class.value }}
        {% endfor %}
    </p>
    <p>
        <strong>Lähiö - Kaupunki</strong> </br>
        {{ sight.location }} - {{ sight.municipality }}
    </p>
    <p>
        <strong>Lisätiedot</strong> </br>
        {{ sight.additional_info }}
    </p>
    <p>
        <strong>Havainnoitsija</strong> </br>
        <a href="/user/{{ sight.user_id }}"> {{ sight.username }}</a>
    </p>
    <p>
        <a href="/">Takaisin</a>
    </p>
</body>

</html>